footer {
    color: gray;
    width: 100%;
    margin-top: 5rem;
}
ul {
    padding: 1.25rem;
    text-align: center;
}
ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0.25rem 0.75rem;
}
ul a {
    color: purple;
    text-decoration: none;
}
ul a:hover {
    text-decoration: underline;
}