<div class="player_name_wrapper">
    <form *ngIf="editingName">
        <mat-form-field>
            <mat-label></mat-label>
            <input matInput  type="text" placeholder="Player name" name="input_name" [(ngModel)]="ui_name"/>
        </mat-form-field>
        <button mat-icon-button color="accent" (click)="clickSaveChangeName()" aria-label="Save the name change">
            <mat-icon>save</mat-icon></button>
        <button mat-icon-button color="warn" (click)="clickCancelChangeName()" aria-label="Cancel the name change">
            <mat-icon>cancel</mat-icon></button>
    </form>
    <div *ngIf="!editingName">
        {{player.name}}
        <button mat-icon-button color="primary" (click)="clickStartChangeName()" aria-label="Edit the name">
            <mat-icon>edit</mat-icon></button>
    </div>
</div>
<div class="player_brawlers_wrapper">
    <mat-form-field appearance="fill">
        <mat-label>Preferred Brawlers</mat-label>
        <mat-chip-list #chipList aria-label="Preferred brawlers">    
            <mat-chip
                *ngFor="let b of player.best_brawlers"
                (removed)="clickRemoveBrawler(b.name)">
                    {{b.name}}
                    <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                </button>
            </mat-chip>
            <input
                type="text"
                placeholder="Brawler..."
                [(ngModel)]="ui_brawler"
                value="{{ui_brawler}}"
                (input)="updateBrawlerList()"
                (click)="updateBrawlerList()"
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let b of brawler_names_autocompletion" [value]="b">
                {{b}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
      
</div>