<mat-card>
    <mat-card-title>Players</mat-card-title>
    <mat-card-content>
        <div *ngFor="let player of players">
            <app-input-player [player]="player" [brawlers]="brawlers" [brawler_names]="getBrawlerNames()"></app-input-player>
            <mat-divider [inset]="true"></mat-divider>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button *ngIf="players.length < max_number_players" mat-raised-button color="primary" (click)="clickAddPlayer()">Add Player</button>
    </mat-card-actions>
</mat-card>